$bg-color: #0B9FCA;
$green-color: #39B54A;
$grey-color: #F1F1F1;
$dark-grey-color: #333333;
/** Navbar start **/
body {
  color: $dark-grey-color;
  font-family: 'Lato';
}
.navbar {
  // position: fixed;
  width: 100%;
  z-index: 99;
  .nav-item a {
    color: white;
  }
  &.navbar-dark .navbar-toggler-icon {
    background-image: url('../img/navbar-icon.png');
  }
}
/** Navbar end **/
/** Slider **/
.slider {
  color: white;
  position: relative;
  margin-top: -77px;
  .slider-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    font-size: 5rem;
  }
  hr {
    width: 120px;
    height: 2px;
    background: white;
    margin-top: 3rem;
  }
  &.products-slider {
    .slider-text {
      left: 10%;
      margin-right: 0;
      transform: translateY(-50%);
    }
    hr {
      margin-top: 0;
      float: left;
    }
  }
  
}
/** Slider end **/
.home-main-content {
  h3 {
    font-weight: lighter;
  }
  h1 {
    color: $green-color;
    font-weight: lighter;
  }
  .hr-container {
    width: 100px;
    hr {
      border-top: 3px solid $green-color;
    }
  }
  &.span-content {
    h1 {
      font-size: 4rem;
    }
  }
}
.bg-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $bg-color;
  line-height: 100px;
  text-align: center;
  margin-bottom: .5rem;
}
.bg-grey {
  background-color: $grey-color;
}
.bg-white {
  background-color: white;
}
.bg-primary {
  background-color: $bg-color !important;
  color: white !important;
}
.bg-green {
  background-color: $green-color;
  color: white;
}
.text-green {
  color: $green-color;
}
.btn {
  text-transform: uppercase;
}
.btn-white {
  background-color: white;
  color: $bg-color;
}
.btn-read-more {
  background-color: $green-color;
  color: white;
  margin: 1rem 0;
}
.read-more-link {
  color: $dark-grey-color;
  &:after{
    content: url('../img/arrow_more.png');
    margin: 5px;
  }
}

.one-span-container {
  position: relative;
  min-height: 350px;
  border: 1px solid $grey-color;
  .one-span-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -25%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 4rem;
      font-weight: lighter;
    }
    h4 {
      font-weight: normal;
    }
    .hr-container {
      width: 50px;
      margin: 1rem 0;
      hr {
        background-color: $green-color;
        height: 1px;
      }
    }
  }
}
.product-container {
  background: url('../img/home_4.png');
  background-repeat: no-repeat;
  // background-size: contain;
  background-position: center;
  padding: 5rem 0;
  color: white;
  h1 {
    font-size: 3.5rem;
    font-weight: lighter;
    text-align: center;
  }
  hr {
    background-color: white;
    width: 100px;
    height: 2px;
  }
  .product-description {
    .logo-content {
      height: 50px;
      margin: 5rem 0 2rem;
      img {
        float: left;
        margin-right: 10px;
      }
      p {
        padding-top: 10px;
        font-size: 30px;
      }
    }
    p {
      margin-left: 20px;
      margin-right: 20%;
    }
    .btn {
      margin: 3rem 0 2rem 10%;
      padding: .5rem 2rem;
    }
  }
}
.normal-title-hr {
  h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 3rem;
  }
  hr {
    width: 100px;
    height: 2px;
    background-color: $green-color;
  }
}
.icon-title-desc {
  display: flex;
  .icon-content {
    width: 70px;
  }
  .title-desc-content {
    width: calc(100% - 100px);
    h4 {
      font-weight: normal;
    }
  }
}

.products-title-container {
  background-color: $green-color;
  text-align: center;
  hr {
    background: white;
    width: 100px;
    height: 2px;
  }
}

/** Footer Style**/
.tomorrow-container {
  .left-quote {
    float: left;
    width: 10rem;
    margin-right: 2rem;
  }
  .right-text {
    margin-left: 12rem;
    h1 {
      font-size: 3.5rem;
      font-weight: lighter;
    }
    .hr-container {
      width: 100px;
      margin: 1rem 0;
      hr {
        background-color: white;
        height: 2px;
      }
    }
  }
}
.logo-copyright {
  p {
    color: #666666;
  }
}
.footer-link {
  color: white;
  h4 {
    font-weight: normal;
  }
  .hr-container {
    width: 70px;
    margin: 1rem 0;
    hr {
      background-color: $green-color;
      height: 1px;
    }
  }
  ul {
    padding-left: 0;
    padding-right: 0;
    li {
      list-style: none;
      a {
        padding: 0;
        color: white;
      }
    }
  }
}
/** Footer End **/

.one-products-container {
  
  h2 {
    font-weight: lighter;
  }
  .hr-container {
    width: 70px;
    hr {
      border-color: $green-color;
      border-top-width: 2px;
      margin: 0.5rem 0;
    }
  }
  // .one-products-content {
    // margin: 0 .5rem;
  //  }
}

/** Blog Style **/
  .blog-green-back {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: $green-color;
  }
  .one-blog-container {
    h3 {
      margin: 1rem 0;
    }
    .blog-action {
      .blog-date {
        margin-right: 5px;
      }
      .blog-comment {
        margin: 0 3px;
        &:before {
          content: url('../img/ic_comment.png');
          margin: 0 2px;
        }
      }
      .blog-favorite {
        margin: 0 3px;
        &:before {
          content: url('../img/ic_favorite.png');
          margin: 0 2px;
        }
      }
      .read-more-link {
        float: right;
        color: $green-color;
        &:after {
          content: '';
        }
      }
    }
  }
/** Blog End **/

/** Career Style **/
.career-slider {
  .slider-text {
    left: 10%;
    margin-right: 20%;
    transform: translateY(-50%);
  }
  .hr-container {
    width: 120px;
    hr {
      margin-top: 0;
    }
  }
  p {
    color: $dark-grey-color;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .btn-white {
    margin-top: 3%;
  }
}

.career-container {
  background: url('../img/careers.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 5rem 0;
  .career-img-container {
    .career-img {
      float: right;
      width: 300px;
      height: 300px;
      background-color: $green-color;
      border-radius: 50%;
      line-height: 300px;
      text-align: center;
      img {
        width: 50%;
      }
    }
  }
  .career-description {
    padding: 0 10% 0 5%;
    h1 {
      font-weight: lighter;
    }
    .hr-container {
      width: 100px;
      hr {
        border-top: 3px solid $green-color;
      }
    }
  }
}
/** Career End **/
.contact-form {
  .form-group {
    .form-control {
      background-color: #eeeeee;
    }
  }
}
.modal {
  display: block;
  .modal-body {
    max-height: 500px;
    overflow: auto;
    padding: 1rem 3rem;
  }
  &.modal-home-working {
    .modal-body {
      h3 {
        font-weight: lighter;
      }
      h1 {
        color: $green-color;
        font-weight: lighter;
      }
      .hr-container {
        width: 100px;
        hr {
          border-top: 3px solid $green-color;
        }
      }
    }
  }
  ul.li-green-color{
    list-style: none;
    li::before {
      color: $green-color;
      content: "\2022";
      font-weight: bold;
      display: inline-block; 
      width: 1em;
      margin-left: -1em;
    }
  }
}
.span-number {
  font-family: 'Lato' !important;
}
.vm-back-top-inner {
  background-color: $green-color !important;
}